@model MyTicket.Models.Users
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <div class="container-fluid body-content">
        <div class="panel panel-primary" style="width:40%;margin:0 auto;">
            <div class="panel-heading">Error</div>
            <div class="panel-body">
                <div align="center">
                   Error Occurred. Navigate to login page, <a href="/login/index">Login</a>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @*@RenderSection("scripts", required: false)*@
</body>
</html>
